.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 0px solid;
  border-bottom: 1px solid #cfd7ff;
  border-radius: 4px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-block: 5px;
  position: relative;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid 0px;
  outline: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3e5ada;
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
  padding-left: 24px;
  padding-right: 10px;
  padding-block: 5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: 1px solid #3e5ada;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin: 0;
}

/* Not multiple */
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 0px;
  border-radius: 4px;
  border-bottom: 1px solid #cfd7ff;
  height: 48px;
  padding-top: 10px;
}
